section.photo-template {
    width: 30%;
    display: flex;
}

img {
    height: 30%;
    width: 30%;
    margin: 10px 20px;
    justify-content: space-around;
    align-items: stretch;
    border: 5px solid black;
}

h2 {

}

p {
    
}